*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
sns-publish-policy.json
cached kms-sns-policy.json
cached cloudwatch-policy.json 
cloudwatch-policy.json
kms-sns-policy.json
